/* background */
body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    height: 5000px;
    overflow-y: scroll;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;

    font-family: 'Inter';
    font-size: 18px;
}

:root{
    /* color */
    --navy-blue: #0F2E6F;
    --blue: #3B82F6;
    --light-blue: #508AF5;
    --pale-blue: #E2EDFF;
    --sky-blue: #C4D8FE;
    --yellow: #ffc400;
    --white: #FFFFFF;
    --black: #000000;

    /* font */
    --inter-light: 300;
    --inter-regular: 400;
    --inter-medium: 500;
    --inter-semibold: 600;
    --inter-bold: 700;
}

/* 데스크탑 퍼스트 */

/*
PC (width 1024px ~ )
테블릿 가로, 테블릿 세로 (width 768px ~ 1024px)
모바일 (width 0px ~ 768px)
*/
/* PC (해상도 1024px ~ )*/

/* a tag 색 변화/밑줄 없애기 */
a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

/* global scale style class for animation */
.scale-1{
    transform: scale(1) !important;
}

.scale-0{
    transform: scale(0) !important;
}

/* 위치 가변 header */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 86px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 500;

    transition: all 0.3s;
}

.header-top{
    background: linear-gradient(
        180deg, 
        rgba(15,46,111, 0.18) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
    height: 232px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.header-scroll{
    background-color: rgba(255, 255, 255, 0.55) !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.header-hidden{
    transform: translateY(-150%);
}

#header .logo{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-size: 36px;
    height: auto;
    color: var(--navy-blue);
}

#header .header-container{
    width: 100vw;
    margin-left: 48px;
    margin-right: 48px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header .navigation-icon-container{
    display: none;
}

#header .navigation-container{
    display: flex;
    gap: 37px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#header .navigation-element{
    position: relative;

    color: var(--navy-blue);
    font-size: 16px;
    font-weight: var(--inter-medium);
}

#header .navigation-element::after{
    position: absolute;
    display: block;
    background-color: var(--sky-blue);

    height: 4px;
    width: 25px;
    border-radius: 5px;
    content: "";
    left: 50%;
    transform: translateX(-50%);

    transition: all 0.5s;
}

#header .navigation-element.on::after{
    background-color: var(--navy-blue);
}

#header .navigation-element.off::after{
    content: none;
}

#header .language-selection-button{
    position: relative;

    color: var(--navy-blue);
    font-size: 16px;
    font-weight: var(--inter-medium);
}

#header .language-selection-button::after{
    display: inline-block;
    margin-left: 0.25em;
    vertical-align: 0.25em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

#header .language-selection-button ul{
    list-style: none;
}

#header .language-selection-button:hover .language-dropdown{
    display: block;
}

#header .language-dropdown{
    display: none;
    position: absolute;
    right: 0px;

    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    background-color: var(--white);
    box-shadow: 0px 5px 10px rgb(0 0 0 / 25%);
}

#header .language-dropdown:hover{
    display: block;
}

#header .language-dropdown li{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* width 1024px 이하 */
@media all and (max-width:1024px) {
    #header{
        height: fit-content;
    }

    #header .navigation-container{
        display: none;
    }

    #header .header-container{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    #header .logo{
        font-size: 22px;
    }

    #header .navigation-icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #header .navigation-icon-container .navigation-icon{
        width: 20px;
        height: 20px;
        margin-bottom: 1px;
    }
}

/* section */
.section{
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    position: relative;
}

/* home */
#home{
    background-image: url(../image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#home .home-container{
    margin-top: 100px;
    margin-bottom: 100px;
    width: fit-content;
}

#home .name{
    color: var(--navy-blue);
    text-align: center;
    font-weight: var(--inter-bold);
    font-size: 94px;
    line-height: 1;
}

#home .role{
    color: var(--light-blue);
    text-align: center;
    font-weight: var(--inter-medium);
    font-size: 46px;
    line-height: 1;

    margin-top: 8px;
}

#home .description{
    color: var(--black);
    font-weight: var(--inter-medium);
    font-size: 25px;
    text-align: center;
    line-height: 1;

    margin-top:31px;
}

#home .button-container{
    display: flex;
    gap: 4px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 39px;
}

#home .button-element{
    width: 165px;
    height: 43px;
    background-color: var(--blue);
    color: white;
    font-size: 14px;
    font-weight: var(--inter-light);

    display: flex;
    justify-content: center;
    align-items: center;
}

#home .left-button{
    border-radius: 8px 0px 0px 8px;
}

#home .right-button{
    border-radius: 0px 8px 8px 0px;
}

.sns-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;

    margin-top: 28px;
}

.sns-container .sns-element{
    width: 42px;
    height: auto;
}

/* width 1024px 이하 */
@media all and (max-width:1024px) {
    #home .name{
        font-size: 67px;
    }
    
    #home .role{
        font-size: 33px;
    }
    
    #home .description{
        font-size: 18px;

        margin-top:22px;
    }
    
    #home .button-element{
        width: 150px;
        height: 35px;
        font-size: 14px;
    }
    
    #home .button-container{
  
        margin-top: 28px;
    }

    .sns-container .sns-element{
        width: 42px;
    }
}

/* width 600px 이하 */
@media all and (max-width:600px) {
    #home .name{
        font-size: 55px;
    }
}

/* width 450px 이하 */
@media all and (max-width:600px) {
    #home .name{
        font-size: 50px;
    }
}

/* about */
#about{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about-container{
    width: fit-content;
    height: fit-content;
    min-height: 100vh;
    margin-top: 100px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .information-container{
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

#about .picture{
    width: 364px;
    height: 364px;
}

#about .description-container{
    display: flex;
    flex-direction: column;
    gap: 19px;
    justify-content: flex-start;
    align-items: flex-start;
}

#about .about-header{
    color: var(--navy-blue);
    text-align: left;
    font-size: 78px;
    font-weight: var(--inter-bold);
    line-height: 1;
}

#about .description-content{
    width: 629px;
    color: var(--black);
    text-align: left;
    font-size: 18px;
    font-weight: var(--inter-regular);
    line-height: 1;
}

#about .separate-bar{
    display: block;
    background-color: var(--blue);
    height: 3px;
    width: 85vw;
    border-radius: 10px 10px 10px 10px;

    margin-top: 79px;
    margin-bottom: 50px;
}

#about .techstack{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    align-items: flex-start;
}

#about .check-icon{
    width: 26px;
    height: auto;
}

#about .techstack-header{
    line-height: 1;
    font-size: 32px;
    font-weight: var(--inter-semibold);
}

#about .techstack-table{
    border-collapse: separate;
    border-spacing: 10px;
}

#about .techstack-content{
    line-height: 1;
    font-size: 20px;
    font-weight: var(--inter-medium);
}

/* width 1080px 이하 */
@media all and (max-width:1080px) {
    #about .about-container{
        justify-content: center;
        height: fit-content;

        margin-top: 50px;
        margin-bottom: 50px;
    }

    #about .about-header{
        font-size: 50px;
    }

    #about .information-container{
        flex-direction: column;
        gap:15px;
    }

    #about .picture{
        width: 260px;
        height: 260px;
    }

    #about .about-header{
        text-align: center;
        width: 100%;
    }

    #about .description-content{
        font-size: 16px;
        width: 80vw;
    }

    #about .separate-bar{
        height: 2px;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    #about .techstack{
        gap: 15px;
    }

    #about .check-icon{
        width: 18px;
    }

    #about .techstack-header{
        font-size: 18px;
    }
    
    #about .techstack-table{
        border-spacing: 7px;
    }
    
    #about .techstack-content{
        font-size: 14px;
    }
}

/* 720px 이하 */
@media all and (max-width:720px) {
    #about .picture{
        width: 220px;
        height: 220px;
    }
}

/* 560px 이하 */
@media all and (max-width:560px) {
    #about .techstack{
        justify-content: flex-start;
    }
}

/* experience */
#experience{
    display: flex;
    gap: 37px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-image: url(../image/experience-background.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
}

#experience .experience-header{
    margin-top: 218px;

    line-height: 1;
    font-weight: var(--inter-bold);
    font-size: 78px;
    text-align: center;
    color: var(--navy-blue);
}

#experience .experience-list-container{
    position: relative;

    margin-bottom: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#experience .experience-list-container::before{
    position: absolute;
    width: 6px;
    top: 0px;
    height: 120%;
    background-color: var(--blue);
    border-radius: 120px;
    
    content: "";
    left: 50%;
    transform: translateX(-50%);
}

#experience .experience-list-container::after{
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: var(--blue);
    border-radius: 50%;
    bottom: -20%;
    
    content: "";
    left: 50%;
    transform: translateX(-50%);
}

#experience .experience-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#experience .experience-list-container .centerline{
    width: 6px;
}

#experience .empty-experience-element{
    height: 350px;
}

#experience .experience-element{
    width: fit-content;

    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: flex-start;
}

#experience .left-experience-element{
    transform: translateX(-50%);
}

#experience .right-experience-element{
    transform: translateX(50%);
}

#experience .experience-icon-container{
    min-width: 46px;
    height: 46px;

    border-radius: 50%;
    background-color: var(--pale-blue);
    border: 2px solid var(--navy-blue);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}

#experience .right-experience-icon-container{
    position: relative;
    transform: translateX(-50%) translateY(-50%);
}

#experience .left-experience-icon-container{
    position: relative;
    transform: translateX(50%) translateY(-50%);
}

#experience .workerbag-icon{
    height: 16px;
    width: 16px;
}

#experience .teach-icon{
    height: 22px;
    width: 22px;
}

#experience .university-icon{
    height: 24px;
    width: 24px;
}

#experience .experience-company-container{
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: center;

    font-size: 32px;
    line-height: 1.2;
    font-weight: var(--inter-bold);

    transform: scale(0);
    transition: all 0.5s;
}

#experience .right-experience-company-container{
    margin-right: 20px;
    justify-content: flex-end;
}

#experience .left-experience-company-container{
    margin-left: 20px;
    justify-content: flex-start;
}

#experience .experience-content-container{
    display: flex;
    gap: 33px;
}

#experience .right-experience-content-container{
    flex-direction: row;
}

#experience .left-experience-content-container{
    flex-direction: row-reverse;
}

#experience .bubble-container{
    max-width: 550px;
    position: relative;
    border-radius: 20px;
    background-color: var(--pale-blue);

    padding-left: 35px;
    padding-right: 35px;
    padding-top: 29px;
    padding-bottom: 29px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    line-height: 1.2;

    transform: scale(0);
    transition: all 0.5s;
}

#experience .left-bubble-container::before{
    border-top: 90px solid var(--pale-blue);
    border-left: 0px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 0px;
    right: -45px;

    z-index: -1;
}

#experience .right-bubble-container::before{
    border-top: 90px solid var(--pale-blue);
    border-left: 90px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 0px;
    left: -45px;

    z-index: -1;
}

#experience .bubble-container .role{
    font-weight: var(--inter-bold);
    font-size: 30px;
}

#experience .bubble-container .date{
    font-weight: var(--inter-medium);
    margin-top: 3px;
    font-size: 18px;
}

#experience .bubble-container .description{
    list-style-position: outside;
    list-style-type: disc;
    margin-left: -10px;
    margin-top: 13px;
    font-size: 18px;
}

#experience .bubble-container .techstack{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#experience .bubble-container .techstack-container{
    margin-top: 6px;

    display: flex;
    gap: 12px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#experience .bubble-container .techtag {
    width: max-content;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;

    background-color: var(--blue);
    color: white;
    line-height: 1;
    font-size: 18px;
}

/* width 1500px 이하 */
@media all and (max-width:1500px) {
    #experience .bubble-container{
        max-width: 425px;
    }

    #experience .experience-list-container::before{
        height: 115%;
    }
    
    #experience .experience-list-container::after{
        bottom: -15%;
    }
}

/* width 1024px 이하 */
@media all and (max-width:1024px) {
    #experience .experience-header{
        font-size: 50px;
        margin-top: 100px;
    }

    #experience .experience-list-container{
        align-items: flex-start;
    }

    #experience .experience-list-container::before{
        height: 110%;
        left: 50px;
    }
    
    #experience .experience-list-container::after{
        bottom: -10%;
        left: 50px;
    }
    
    #experience .experience-element{
        margin-left: 50px;
        margin-bottom: 50px;
        padding-right: 15px;
    }

    #experience .experience-content-container{
        gap: 15px;
    }

    #experience .left-experience-element{
        transform: translateX(0);
    }

    #experience .right-experience-element{
        transform: translateX(0);
    }

    #experience .experience-company-container{
        display: flex;
        gap: 15px;
        flex-direction: row;
        align-items: center;
    
        font-size: 22px;
        line-height: 1.2;
        font-weight: var(--inter-bold);
    
        transform: scale(0);
        transition: all 0.5s;
    }

    #experience .left-experience-company-container{
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 20px;
    }

    #experience .left-experience-icon-container{
        position: relative;
        transform: translateX(-50%) translateY(-50%);
    }

    #experience .left-experience-content-container{
        flex-direction: row;
    }

    #experience .bubble-container{
        margin-right: 15px;
        margin-left: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #experience .left-bubble-container::before{
        border-top: 90px solid var(--pale-blue);
        border-left: 90px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 0px solid transparent;
        left: -20px;
        right: 40px;
    }

    #experience .right-bubble-container::before{
        left: -20px;
    }

    #experience .bubble-container .role{
        font-weight: var(--inter-bold);
        font-size: 21px;
    }
    
    #experience .bubble-container .date{
        font-size: 16px;
    }

    #experience .bubble-container .description{
        font-size: 16px;
    }

    #experience .bubble-container .techtag{
        font-size: 14px;
    }

    #experience .bubble-container .techstack-container{
        margin-top: 0px;
    }
}

/* width 720px 이하 */
@media all and (max-width:720px) {
    #experience .experience-list-container::before{
        height: 105%;
    }
    
    #experience .experience-list-container::after{
        bottom: -5%;
    }
}

/* width 600px 이하 */
@media all and (max-width:600px) {
    #experience .experience-icon-container{
        min-width: 22px;
        height: 22px;
    }

    #experience .workerbag-icon{
        height: 10px;
        width: 10px;
    }
    
    #experience .teach-icon{
        height: 12px;
        width: 12px;
    }
    
    #experience .university-icon{
        height: 14px;
        width: 14px;
    }
}

/* width 720px 이하 */
@media all and (max-width:400px) {
    #experience .experience-list-container::before{
        height: 103%;
    }
    
    #experience .experience-list-container::after{
        bottom: -3%;
    }
}

/* achievement */
#achievement{
    display: flex;
    align-items: center;
    justify-content: center;
}

#achievement .achievement-container{
    margin-top: 100px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    gap: 57px;
    justify-content: space-between;
    align-items: center;
}

#achievement .achievement-header-container{
    width: 73vw;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 28px;
}

#achievement .achievement-header{
    font-size: 70px;
    color: var(--navy-blue);
    line-height: 1;
    font-weight: var(--inter-bold);
}

#achievement .achievement-separate-bar{
    background-color: var(--pale-blue);
    border-radius: 150px 150px 150px 150px;
    height: 9px;
    flex: 1;
}

#achievement .achievement-list-container{
    width: 80vw;
    height: fit-content;
    margin: 0 auto;

    display: flex;
    gap: 79px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
    justify-content: flex-start;

    cursor: grab;
}

#achievement .achievement-list-container::-webkit-scrollbar{
    height: 9px;
    cursor: pointer !important;
}

#achievement .achievement-list-container::-webkit-scrollbar-track{
    background-color: var(--pale-blue);
    border-radius: 120px;
}

#achievement .achievement-list-container::-webkit-scrollbar-thumb{
    background-color: var(--blue);
    border-radius: 120px;
}

#achievement .achievement-element{
    width: 311px;
    height: fit-content;
}

#achievement .prize-icon-container{
    position: relative;
    top: 23px;
    transform: translateX(-50%);
    left: 50%;

    height: 46px;
    width: 46px;
    border-radius: 50%;
    background-color: var(--yellow);

    display: flex;
    justify-content: center;
    align-items: center;
}

#achievement .prize-icon{
    width: 24px;
    height: 24px;
}

#achievement .achievement-content-container{
    background-color: var(--pale-blue);
    width: 280px;
    height: 358px;
    border-radius: 15px;

    margin-bottom: 30px;

    line-height: 1;
    color: var(--black);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#achievement .achievement-content-container .name{
    font-weight: var(--inter-bold);
    font-size: 24px;
    margin-top: 57px;
}

#achievement .achievement-content-container .institution{
    font-weight: var(--inter-regular);
    font-size: 20px;
    margin-top: 5px;
}

#achievement .achievement-content-container .date{
    font-weight: var(--inter-regular);
    font-size: 18px;
    margin-top: 14px;
}

#achievement .achievement-content-container .separate-bar{
    height: 1px;
    width: 85%;
    background-color: var(--blue);
    margin-top: 27px;
    
}

#achievement .achievement-content-container .description-container{
    margin-top: 38px;
    height: 130px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#achievement .achievement-content-container .description{
    font-weight: var(--inter-regular);
    font-size: 15px;
}

#achievement .achievement-content-container .button-container{
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

#achievement .achievement-content-container .detail-button{
    background-color: var(--blue);
    border-radius: 5px;
    width: 115px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: var(--inter-medium);
    font-size: 17px;
    color: var(--white);

    cursor: pointer;
}

/* width 1024px 이하 */
@media all and (max-width:1024px) {
    
    #achievement .achievement-container{
        margin-top: 100px;
    }
    #achievement .achievement-header-container{
        justify-content: center;
        align-items: center;
    }

    #achievement .achievement-header{
        font-size: 50px;
        text-align: center;
    }

    #achievement .achievement-separate-bar{
        display: none;
    }
}

/* project */
#project{
    display: flex;
    align-items: center;
    justify-content: center;
}

#project .project-container{
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 107px;
    justify-content: space-between;
    align-items: center;
}

#project .project-header-container{
    width: 73vw;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 28px;
}

#project .project-header{
    font-size: 70px;
    color: var(--navy-blue);
    line-height: 1;
    font-weight: var(--inter-bold);
}

#project .project-separate-bar{
    background-color: var(--pale-blue);
    border-radius: 150px 150px 150px 150px;
    height: 9px;
    flex: 1;
}

#project .project-list-container{
    height: fit-content;

    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#project .project-element{
    min-width: fit-content;
    width: 80vw;
    height: auto;

    box-shadow: 0px 4px 14px -2px;
    border-radius: 20px;
    background-color: var(--pale-blue);

    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    gap: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#project .right-project-element{
    flex-direction: row;
}

#project .left-project-element{
    flex-direction: row-reverse;
}

/* carousel */
#project .carousel-container{
    z-index: 0;
    min-width: 33vw;
    width: 600px;
    height: 464px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#project .carousel-container img{
    object-fit: cover;
    height: 464px;
    border-radius: 25px;
}

/* change arrow size */
#project .carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(50%);
}

#project .description-container{
    min-width: 600px;
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border:#000000;
    line-height: 1.2;
}

#project .description-container .title{
    font-weight: var(--inter-bold);
    font-size: 35px;
    color: var(--navy-blue);
}

#project .description-container .subtitle{
    font-weight: var(--inter-regular);
    font-size: 24px;
    color: var(--black);
    line-height: 1.2;
}

#project .description-container .tag-container{
    width: fit-content;
    height: fit-content;
    margin-top: 4px;

    display: flex;
    gap: 7px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#project .description-container .tag{
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    
    line-height: 1.2;
    font-size: 15px;
}

#project .description-container .role{
    background-color: var(--blue);
    color: var(--white);
    font-weight: var(--inter-medium);
}

#project .description-container .event{
    background-color: var(--yellow);
    column-rule: var(--black);
    font-weight: var(--inter-semibold);
}

#project .description-container .content{
    list-style-position: outside;
    list-style-type: disc;
    margin-left: -10px;

    margin-top: 21px;

    line-height: 1.2;
    font-size: 18px;
}

#project .description-container .techissue{
    margin-bottom: 5px;
}

#project .description-container table{
    border-collapse: separate;
    border-spacing: 0px 7px;
}

#project .description-container .techstack-container td{
    vertical-align: top;
}

#project .description-container .techstack-container .check-icon{
    width: 20px;
    height: 20px;
}

#project .description-container .techstack-container img{
    margin-top: 2px;
}

#project .description-container .techstack-container .type{
    width: 70px;
    line-height: 1;
    font-weight: var(--inter-semibold);
    font-size: 20px;
    margin-top: 2px;
}

#project .description-container .techstack-container .techstack-type{
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#project .description-container .techstack-container .techtag-container{
    margin-left: 15px;
    height: max-content;

    display: flex;
    flex-direction: row;
    gap: 4px 8px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#project .description-container .techstack-container .techtag{
    width: max-content;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    
    background-color: var(--navy-blue);
    color: white;
    line-height: 1;
    font-size: 18px;
}

#project .description-container .link-container{
    margin-top: 15px;

    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#project .description-container .link-container .link-element{
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#project .description-container .link-container .link-icon{
    height: 22px;
    width: 22px;
}

#project .description-container .link-container .link-text{
    font-weight: var(--inter-bold);
    font-size: 18px;
}

/* width 1500px 이하 */
@media all and (max-width:1500px) {
    #project .project-element{
        flex-direction: column;
        gap: 25px;
    }

    #project .project-element{
        width: fit-content;
    }

    #project .carousel-container{
        min-width: 600px;
        width: 50vw;
        height: 464px;
    }
}

/* width 1024px 이하 */
@media all and (max-width:1024px) {
    #project .project-header-container{
        justify-content: center;
        align-items: center;
    }

    #project .project-header{
        font-size: 50px;
        text-align: center;
    }

    #project .project-separate-bar{
        display: none;
    }

    #project .project-element{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #project .description-container{
        width: 500px;
        min-width: 500px;
    }

    #project .carousel-container{
        min-width: 500px;
        height: 350px;
    }

    #project .carousel-container img{
        height: 350px;
        border-radius: 15px;
    }


    #project .description-container .title{
        font-size: 32px;
    }

    #project .description-container .subtitle{
        font-size: 19px;
    }

    #project .description-container .tag{
        font-size: 14px;
    }

    #project .description-container .content{
        margin-top: 15px;
        font-size: 16px;
    }

    #project .description-container .techissue{
        font-size: 16px;
    }

    #project .description-container .techstack-container .check-icon{
        width: 18px;
        height: 18px;
    }
    
    #project .description-container .techstack-container .type{
        font-size: 18px;
        margin-top: 1px;
    }

    #project .description-container .techstack-container img{
        margin-top: 0px;
    }

    #project .description-container .techstack-container .techstack-container{
        margin-top: 15px;
    }
    
    #project .description-container .techstack-container .techtag{
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 8px;
        padding-right: 8px;

        font-size: 14px;
    }

    #project .description-container .link-container .link-icon{
        height: 20px;
        width: 20px;
    }
    
    #project .description-container .link-container .link-text{
        font-size: 16px;
    }
}

/* 720px 이하 */
@media all and (max-width:720px) {
    #project .carousel-container{
        min-width: 75vw;
        height: 50vw;
    }

    #project .carousel-container img{
        height: 50vw;
    }

    #project .project-element{
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 7vw;
        padding-bottom: 7vw;
    }

    #project .description-container{
        min-width: 75vw;
        width: 75vw;
    }
}


/* contact */
#contact {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 80vh;
}

#contact .contact-container{
    width: 50vw;
    height: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#contact .contact-header-container{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 24px;
}

#contact .contact-header{
    font-size: 70px;
    color: var(--navy-blue);
    line-height: 1;
    font-weight: var(--inter-bold);
}

#contact .separate-bar{
    background-color: var(--pale-blue);
    border-radius: 150px 150px 150px 150px;
    height: 9px;
    flex: 1;
}

#contact .contact-description{
    line-height: 1.2;
    font-size: 22px;
    color: var(--black);
    
    margin-top: 18px;
}

#contact .location-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 21px;
}

#contact .location-icon{
    width: 24px;
    height: 24px;
}

#contact .location-content{
    line-height: 1;
    font-size: 18px;
    color: var(--black);
    white-space: nowrap;
}

@media all and (max-width:1024px) {
    #contact .contact-container{
        align-items: center;
        justify-content: center;
        margin-top: 50vh;
        margin-bottom: 50px;
    }

    #contact .contact-header-container{
        justify-content: center;
        align-items: center;
    }

    #contact .contact-header{
        font-size: 50px;
        text-align: center;
    }

    #contact .separate-bar{
        display: none;
    }

    #contact .contact-description{
        font-size: 16px;
        max-width: 450px;
        width: 80vw;
        margin-top: 13px;
    }

    #contact .location-container{
        margin-top: 15px;
    }

    #contact .location-content{
        font-size: 16px;
    }

    #contact .sns-container{
        margin-top: 17px;
    }
}

/* footer */
#footer{
    height: 282px;
    width: 100vw;
    background-color: var(--pale-blue);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .footer-container{
    gap: 493px;

    margin-top: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#footer .information-container{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#footer .information-container .name{
    font-size: 40px;
    color: var(--navy-blue);
    line-height: 1;
    font-weight: var(--inter-bold);
}

#footer .information-container .description{
    font-size: 18px;
    color: var(--black);
    line-height: 1;
    font-weight: var(--inter-regular);

    margin-top: 20px;
}

#footer .information-container .contact{
    font-size: 18px;
    color: var(--black);
    line-height: 1;
    font-weight: var(--inter-regular);

    margin-top: 13px;
}

#footer .navigation-list-container{
    display: flex;
    gap: 130px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#footer .language-selector{
    display: none !important;
}

#footer .navigation-container{
    display: flex;
    gap: 11px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    font-size: 18px;
    font-weight: var(--inter-regular);
    line-height: 1;
    color: var(--black);
}

#footer .navigation-container b{
    color: var(--navy-blue);
}

#footer .copyright{
    position: absolute;
    bottom: 5px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    color: var(--black);
    text-align: center;
    font-size: 14px;
    font-weight: var(--inter-regular);
    line-height: 1;
}

/* navigation drawer */
#header .navigation-drawer-overlay{
    display: none;
}

.translateX-0{
    transform: translateX(0%) !important;
}

/* width 1024px 이하 */
@media all and (max-width:1024px) {
    #footer{
        background-color: transparent;
        height: 30vh;
    }

    #footer .footer-container{
        overflow-y: auto;
        width: 240px;
        height: 100%;
        margin-top: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        top: 0px;
        right: 0px;
        transform: translateX(100%);
        
        padding-left: 15px;
        background-color: var(--white);

        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 25px;
        z-index: 1001;

        transition: all 0.5s;
    }

    #footer .navigation-list-container{
        flex-direction: column;
        gap: 25px;
        font-size: 16px;
    }

    #footer .language-selector{
        display: flex !important;
    }

    #footer .navigation-container{
        gap: 20px;
        font-size: 16px;
    }

    #footer .navigation-container b{
        color: var(--navy-blue);
        font-size: 18px;
    }

    #footer .information-container .name{
        font-size: 28px;
    }


    #footer .information-container{
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    #footer .information-container .contact{
        line-height: 1.2;
    }

    #footer .information-container .description{
        margin-top: 12px;
    }

    #footer .information-container .contact{
        display: none;
    }
    
    #navigation-drawer-overlay{
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);

        z-index: 1000;
        display: none;
    }

    #footer .copyright{
        bottom: 8px;
    }

}

/* overlay effect */
#overlay{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);

    z-index: 1000;
}

#overlay .close-button{
    display: block;
    position: fixed;
    right: 0;
    height: min(5vh, 5vw);
}

#overlay .overlay-image-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay .overlay-image{
    object-fit: scale-down;
    height: 80vh;
    width: 80vw;
}