/* background */
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5000px;
    overflow-y: scroll;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;

    background-color: aliceblue;
    font-family: 'Inter';
    font-size: 18px;
}

:root{
    --navy-blue: #0F2E6F;
    --sky-blue: #C4D8FE;
    --white: #FFFFFF;
    --black: #000000;
}

/* a tag 색 변화/밑줄 없애기 */
a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

/* 위치 가변 header */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 86px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-scroll{
    background-color: rgba(255, 255, 255, 0.55) !important;
}

.logo{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-size: 30px;
    height: auto;
    color: var(--navy-blue);
}

.header-container{
    width: 100%;
    margin-left: 48px;
    margin-right: 48px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navigation-element{
    position: relative;
    margin-left: 25px;

    color: var(--navy-blue);
}

.navigation-element::after{
    position: absolute;
    display: block;
    background-color: var(--sky-blue);

    height: 4px;
    width: 35px;
    border-radius: 5px;
    content: "";
    left: 50%;
    transform: translateX(-50%);

    transition: all 500ms;
}

.navigation-element.on::after{
    background-color: var(--navy-blue);
}




/* hover effect */
.hover-test{
    width: 500px;
    height: 500px;
    border: 1px solid;
    border-color: black;
    background-color: yellow;
    margin:auto;
}

/* class 뒤에 hover 붙이면 됨 */
.hover-test:hover{
    box-shadow: 5px 5px 5px 5px gray;
    cursor: pointer;
}

/* overlay effect */
.overlay-test{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#overlay-image-close-button{
    display: block;
    position: fixed;
    right: 0;
    height: 5%;
}

#overlay-image-container{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay-image{
    object-fit: scale-down;
    height: 80%;
    width: 80%;
}

/* carousel */
#carousel-container-test{
    width: 50%;
    min-width: 500px;
    height: 500px;
    border: 1px solid;
    border-color: black;
    margin:auto;
}

/* change arrow size */
.carousel-control-next-icon-1, .carousel-control-prev-icon-1 {
    width: 10px;
    height: 10px;
    }

.horizontal-scroll-test-container{
    width: 500px;
    height: 500px;
    background-color: gray;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
    
    -ms-overflow-style: none;
    scrollbar-width: none;

    cursor: grab;
}

.horizontal-scroll-test-container::-webkit-scrollbar{
    display: none;
}

.horizontal-scroll-test-item{
    background-color: white;
    width: 400px;
    height: 400px;

    flex: 0 0 auto;
    margin: 0 auto;
}
